<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Ice captures the menu bar to display the exact appearance of its status items in Layout.</string>
	<key>SUFeedURL</key>
	<string>https://github.com/JackFloyd007/Ice_eric/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>2pBlH8Mj8z+/DnexM0dNHOl5lbObVzhoVPO4gBQOhI4=</string>
</dict>
</plist>
